{
	"presets": ["env", "react", "stage-0"],
	"plugins":[
		"transform-class-properties",
		"syntax-dynamic-import", // 允许babel动态imports
		"transform-decorators-legacy"
	],
  "env": {
		"development": {
			"presets": ["react-hmre"]
		}
	}	
}